<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>sinatrabbs</title>
</head>
<body style="width: 720px;">
  <div id="form" style="float:left; width: 540px; margin-bottom: 10px;">
    <p><%= @error %></p>
    <form action="/new" method="post">
      <input type="text" name="name" placeholder="名前" style="float:left; margin-bottom:5px">
      <textarea name="comment" rows="5" cols="70" placeholder="コメント入力" style="float:left;"></textarea>
      <input type="submit" value="投稿">
    </form>
  </div>
  <div id="comment" style="float:left;">
    <% @bbs.find.sort(date:-1).each do |contents| %>
      <p><label>名前：<%= esc contents["name"] %> 投稿日時：<%= contents["date"] %></label></p>
        <p><%= esc(contents["comments"]).gsub(/(\r\n|\r|\n)/, "<br />") %></p>
    <% end %>
  </div>
</body>
</html>